[*.cs]

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CA1069: Enums values should not be duplicated
dotnet_diagnostic.CA1069.severity = silent

# SYSLIB0013: Type or member is obsolete
dotnet_diagnostic.SYSLIB0013.severity = none
